{% extends "layout.html" %}

{% block content %}
<div class="d-flex items-center justify-content-between mb-4">
    <div>
        <a href="/" class="btn btn-secondary">이전</a>
        <button class="btn btn-primary" id="add_btn">추가</button>
    </div>
    <div class="col-3 float-right">
        <form action="/serverMenu/search" method="post">
            <div class="input-group">
                {% if search_val %}
                <input type="text" class="form-control" placeholder="메뉴이름 검색" id="search_val" name="search_val" value={{search_val}}>
                {% else %}
                <input type="text" class="form-control" placeholder="메뉴이름 검색" id="search_val" name="search_val">
                {% endif %}
                <button class="btn btn-outline-secondary" type="submit" id="button-addon2">검색</button>
            </div>
        </form>
    </div>
</div>
<div class="mb-4 d-none" id="add_input" name="add_input">
    <form action="/serverMenu/addMenu" method="post">
        <div class="input-group">
            <input class="form-control" type="text" placeholder="분류" id="add_division" name="add_division" required>
            <input class="form-control" type="text" placeholder="이름" id="add_name" name="add_name" required>
            <input class="form-control" type="number" placeholder="가격" id="add_price" name="add_price" required>
            <input class="form-control" type="number" placeholder="적립금" id="accumulate_mileage" name="accumulate_mileage" required>
            <input class="form-control" type="text" placeholder="이미지 파일이름" id="add_image" name="add_image" required>
            <button class="btn btn-success">등록</button>
        </div>
    </form>
</div>
<div>
    <table class="table">
        <thead>
            <tr>
                <th class="col">메뉴 ID</th>
                <th class="col">분류</th>
                <th class="col text-center">이름</th>
                <th class="col">가격</th>
                <th class="col">적립금</th>
                <th class="col">판매량</th>
                <th class="col">이미지</th>
                <th class="col">종야요</th>
                <th class="col text-center">수정</th>
                <th class="col text-center">삭제</th>
            </tr>
        </thead>
        <tbody>
            {% for menu in Menulist %}
            <tr>
                <td>{{menu.menu_id}}</td>
                <td>{{menu.division}}</td>
                <td>{{menu.name}}</td>
                <td>{{menu.price}}</td>
                <td>{{menu.accumulate_mileage}}</td>
                <td>{{menu.total_sale}}</td>
                <td>{{menu.image}}</td>
                <td>{{menu.likey}}</td>
                <td class="text-center"><button type="button" class="btn btn-primary editbox_open">수정</button></td>
                <td class="text-center"><button type="button" class="btn btn-danger Q_delete" value="{{menu.menu_id}}">삭제</button></td>
            </tr>
            <tr class="d-none table-active">
                <td><input type="hidden" value="{{menu.menu_id}}" id="menu_id" name="menu_id"></td>
                <td><input type="text" value="{{menu.division}}" id="edit_division" name="edit_division"></td>
                <td><input type="text" value="{{menu.name}}" id="edit_name" name="edit_name"></td>
                <td><input type="number" value="{{menu.price}}" id="edit_price" name="edit_price"></td>
                <td><input type="number" value="{{menu.accumulate_mileage}}" id="edit_accumulate_mileage" name="edit_accumulate_mileage"></td>
                <td><input type="number" value="{{menu.total_sale}}" id="edit_total_sale" name="edit_total_sale"></td>
                <td><input type="text" value="{{menu.image}}" id="edit_image" name="edit_image"></td>
                <td><input type="number" value="{{menu.likey}}" id="edit_likey" name="edit_likey"></td>
                <td class="text-center"><button type="button" class="btn btn-secondary editbox_close">닫기</button></td>
                <td class="text-center"><button type="button" class="btn btn-success Q_update">완료</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block script %}
<script>
    const togglebox = document.querySelector("#add_btn");
    const addbox = document.querySelector("#add_input");

    togglebox.addEventListener("click", () => {
        if(addbox.classList.contains("d-none") === true){
            addbox.classList.remove("d-none");
        }
        else{
            addbox.classList += " d-none";
            // addbox.classList.add = "d-none";
        }
    })

    $(function(){
        $(".editbox_open").click(function(e){
            e.preventDefault();
            $(this).parents("tr").next().removeClass("d-none");
        })

        $(".editbox_close").click(function(e){
            e.preventDefault();
            $(this).parents("tr").addClass("d-none");
        })

        ////////// UPDATE //////////
        $(".Q_update").click(function(e){
            e.preventDefault();
            const confirmVal = confirm("수정 하시겠습니까?");
            if(confirmVal == true){
                const editData = {
                    menu_id: $(this).parents("td").siblings().find("#menu_id").val(),
                    division: $(this).parents("td").siblings().find("#edit_division").val(),
                    name: $(this).parents("td").siblings().find("#edit_name").val(),
                    price: $(this).parents("td").siblings().find("#edit_price").val(),
                    accumulate_mileage: $(this).parents("td").siblings().find("#edit_accumulate_mileage").val(),
                    total_sale: $(this).parents("td").siblings().find("#edit_total_sale").val(),
                    image: $(this).parents("td").siblings().find("#edit_image").val(),
                    likey: $(this).parents("td").siblings().find("#edit_likey").val(),
                };
                $.ajax({
                    type: "post",
                    url: "/serverMenu/edit",
                    dataType: "json",
                    data: editData,
                    success: function(res){
                        if(res === 1){
                            alert("수정 완료");
                            location.href="/serverMenu";
                        }
                        else{
                            alert("sql 에러");
                        }
                    },
                    error: function(err){
                        alert("ajax 에러");
                    }

                });
            }
            else{
                // console.log("에러");
            }
        })

        ////////// DELETE //////////
        $(".Q_delete").click(function(e){
            e.preventDefault();
            const confirmVal = confirm("정말 삭제하시겠습니까?");
            if(confirmVal == true){
                $.ajax({
                    type: "get",
                    url: "/serverMenu/delete/"+e.target.value,
                    dataType: "json",
                    success: (function(res){
                        if(res === 1){
                            alert("삭제 완료");
                            location.href="/serverMenu";
                        }
                        else{
                            alert("sql 에러");
                        }
                    }),
                    error: function(err){
                        alert("ajax 에러");
                    }
                })
            }
        })

    })

</script>
{% endblock %}